.ep-calendar {
  position: relative;
  width: 100%;
  min-width: calc(7 * 128px + 64px);
  height: calc(24 * 64px + 64px);
}

.ep-calendar .ep-calendar__grid {
  position: absolute;
  top: 64px;
  left: 64px;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(#000000 1px, transparent 0), linear-gradient(to right, #000000 1px, transparent 0);
  background-size: calc(100% / 7) 64px;
  border-right: solid #000000 1px;
  border-bottom: solid #000000 1px;
}

.ep-calendar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ep-calendar .ep-calendar__rows {
  position: absolute;
  top: 64px;
}

.ep-calendar .ep-calendar__rows-item {
  position: relative;
  height: 64px;
}

.ep-calendar .ep-calendar__rows-hour {
  position: relative;
  top: -0.5em;
  display: inline-block;
  width: 64px;
  text-align: center;
}

.ep-calendar .ep-calendar__cols {
  position: absolute;
  top: 0;
  left: 64px;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ep-calendar .ep-calendar__cols-item {
  flex: 1;
  text-align: center;
}

.ep-calendar .ep-calendar__week {
  position: absolute;
  top: 64px;
  right: 0;
  bottom: 0;
  left: 64px;
  display: flex;
}

.ep-calendar .ep-calendar__week-day {
  flex: 1;
  position: relative;
}

.ep-calendar .ep-calendar__week--event {
  position: absolute;
  background: #93c5fd;
  border-radius: 8px;
  border: #fce7f3 solid 1px;
  box-sizing: border-box;
  padding: 2px;
  cursor: pointer;
  width: 90%;
}

.ep-calendar .ep-calendar__week--event:hover {
  background: #60a5fa;
  z-index: 99;
}

.ep-calendar .ep-calendar__week--event-title {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ep-calendar__week--event-popover {
  background: #38bdf8;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 8px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ep-calendar__week--event-popover .ep-calendar__week--event-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.ep-calendar__week--event-popover .ep-calendar__week--event-time {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
